

div.article ul ul
{
	margin-bottom:0.5em;
}
div.article ul ol
{
	margin-bottom:0.5em;
}
div.article ol ul
{
	margin-bottom:0.5em;
}
div.article ol ol
{
	margin-bottom:0.5em;
}

div.article p.center
{
	text-align: center;
}

/* Matma */
div.article#cts1
{
	margin: auto;
	padding: auto;
}

div.article h2
{
	clear:both;

}

/* IE6 considére que 100% c'est la largeur de la fenètre... 600px pour lui */
table.services
{
	width:600px;
}

/* 100% pour les vrai navigateurs */
html > * table.services
{
	width: 100%;
}



table.services td
{
	width:32%;
	padding-top:0.5em;
	padding-bottom:0.5em;
	text-align:center;
}




