

div.forumsection, div.forumsujetsliste
{
  /*border:1px solid #FFF1C5; */
  border:1px solid #DFEAF2;
  padding:2px;
  margin-bottom:10px;
}

div.forumsection h2
{
  /*background:#FFF1C5;*/
  background:#DFEAF2;
  border:0px;
  font-size:15px;
  margin:0px;
  padding:5px;
}

div.forumsection div.forumitem, div.forumsujetsliste div.forumsujet
{
  border:1px solid #d8e7f3; 
  padding:5px;
  position:relative;
  overflow:hidden;
  width:100%;
}

div.forumsection h2, div.forumsection p.description
{
  padding-right:240px;
}

div.forumsujetsliste div.forumsujet h2, div.forumsujetsliste div.forumsujet p.soustitre
{
  padding-right:350px;
  padding-left:32px;
}

div.forumsujetsliste div.forumsujet.nonlu
{
  background:#d8e7f3;
}

div.forumsection div.forumitem h3
{
  margin:0px;
  font-size:13px;
}




div.forumsujetsliste div.forumsujet h2
{
  margin:0px;
  font-size:12px;
  border:0px;
}

div.forumsection div.forumitem p.description, div.forumsujetsliste div.forumsujet p.soustitre
{
  margin:0px;
  font-size:11px;
}

div.forumsujetsliste div.forumsujet p.sujeticon
{
  position:absolute;
  top:10px;
  left:5px;
}

div.forumsujetsliste div.forumsujet p.auteur
{
  position:absolute;
  width:100px;
  right:233px;
  top:1px;
  padding:5px;
  background:#d8e7f3;
  font-size:11px;
  text-align:center;
}

div.forumsection div.forumitem p.nbsujets, div.forumsujetsliste div.forumsujet p.nbmessages
{
  position:absolute;
  width:50px;
  right:172px;
  top:1px;
  padding:5px;
  background:#d8e7f3;
  font-size:11px;
  text-align:center;
}

div.forumsection div.forumitem p.dernier, div.forumsujetsliste div.forumsujet p.dernier
{
  position:absolute;
  width:160px;
  right:1px;
  top:1px;
  padding:5px;
  background:#d8e7f3;
  font-size:11px;
  text-align:center;
}


div.forumsection div.forumitem p.actions, div.forumsujetsliste div.forumsujet p.actions
{
  position:absolute;
  width:auto;
  right:344px;
  top:1px;
  padding:5px;
  font-size:11px;
}


div.forumsujetsliste div.forumsujet.nonlu p.dernier
{
  background:#ffffff;
}

div.forumsujetsliste div.forumsujet.nonlu p.nbmessages
{
  background:#ffffff;
}

div.forumsujetsliste div.forumsujet.nonlu p.auteur
{
  background:#ffffff;
}


div.forummessagesliste
{
  overflow:hidden;
  position:relative;
}

div.forummessageentry
{
  border:1px solid #d8e7f3; 
  /*padding:5px;*/
  /*padding-left:160px;*/
  position:relative;
  margin-bottom:5px;
  overflow:hidden;
  padding:0;
    height:auto;
}

div.forummessageentry.nonlu
{
  background:#d8e7f3;
}

div.forummessageentry.pair
{
  background:#eff7ff;
}

div.forummessageentry div.auteur
{
  background:#d8e7f3;
  /*position:absolute;
  left:1px;
  top:1px;*/
  float:left;
  width:150px;
  padding:0;
  margin:0;
  padding-top:5px;
  padding-bottom:5px;
  position:relative;
  overflow:hidden;
}

div.forummessageentry div.auteur p
{
  margin-left:5px;
  margin-right:5px;
}

div.forummessageentry div.auteur p.funame
{

}

div.forummessageentry div.auteur p.funame a
{
  color:#000000;
}


div.forummessageentry div.auteur p.fuimg
{
	text-align:center;
}

div.forummessageentry div.auteur p.fuimg img
{
  width:70px;
  
}

div.forummessageentry.nonlu div.auteur
{
  background:#ffffff;
}


div.forummessageentry h2.frmt
{
  font-size:12px;

  height:1em;
  
  margin:0px;

  margin-top:5px;  
  
  padding-left:280px;
  border:0;
  
}

div.forummessageentry p.date
{
  position:absolute;
  top:5px;
  left:160px;
}

div.forummessageentry p.actions
{
  position:absolute;
  top:5px;
  right:5px;
}

div.forummessageentry div.forummessage
{
  border-top:1px solid #C0C0C0;
  margin-left:160px;
  padding-top:5px;
  margin-top:3px;
  padding-bottom:5px;
  padding-right:5px;
}

div.forummessageentry div.signature
{
  margin-top:10px;
  border-top:1px solid #C0C0C0;
  padding-top:5px;
  max-height:3em;
  padding-bottom:5px;
}

div.forummessageentry.nonlu div.forummessage
{
  border-top:1px solid #FFFFFF;
}

div.forummessageentry.nonlu div.signature
{
  border-top:1px solid #FFFFFF;
}

div.sujetcontext
{
  margin-left:150px;
  margin-right:150px;  
  margin-bottom:20px;  
  border:1px solid #d8e7f3;
  padding:5px;
}

.tabs_bottom
{
	position:relative;	
	
}

div.article p.frmgeneral
{
  /*text-align:right;  */
}