
.viewer
{
  width:500px;
  height:500px;
  overflow:hidden; 
  position:relative;
  cursor:move;
}

.square
{
  position:absolute;
  width:500px;
  height:500px;
  background:#000000 url("../images/galaxy_loading.png");
  cursor:move;
}

.square img
{
  border=0;
  cursor:move;
}

.map
{
  width:100px;
  height:100px;
  background:#000000;
  position:relative;
  float:right;
}

.position
{
  width:5px;
  height:5px;
  border:1px solid red;
  position:absolute;
  top:-1px;
  left:-1px;
}
