/**
{
font: 12px 'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
}*/
  
div.box
{
  position: relative;
  margin-bottom: 1em;
  padding-top:0.75em;
  width: 192px;
  background: url("../themes/default/images/box-core.png");
	background-repeat: no-repeat;
	background-position: top left;  

}
div.box h1
{
  background: none;
  border: none;
  -moz-border-radius:0em 0em 0em 0em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 2px;
  height: 1.2em;
  font-size: 100%;
  display: inline;
  position:relative;

}

#important
{
  background: none;
}

#important div.body
{
  background-color: #d8e7f3;
}

div.box div.body
{
	background: none;
	border: none;
	-moz-border-radius:0em 0em 0em 0em;
	padding: 8px;
	position:relative;	
	background-image: url("../themes/default/images/box-bottom.png");
	background-repeat: no-repeat;
	background-position: bottom left;  

	margin:0;   
}  

div.box h2
{
	background:url("../themes/default/images/box-h2.png");
	height:15px;
	padding-top:3px;
	padding-left:5px;
	color:#00000;
}
div.box h2 a
{
	color:#00000;
}
div.box div.body div.boxlist h2
{
  border-bottom: none;
}

div.box div.body ul
{
  margin-bottom:0px;
}


#sbox_calendrier
{
	background-image: url("../themes/default/images/box-core-calendar.png");
}

#sbox_pg
{
	background-image: url("../themes/default/images/box-core-search.png");
}

#sbox_connexion
{
	background-image: url("../themes/default/images/box-core-home.png");
}

#sbox_anniv
{
	background-image: url("../themes/default/images/box-core-people.png");
}

#sbox_mmt
{
	background-image: url("../themes/default/images/box-core-search.png");
}

#sbox_lastnews
{
	background-image: url("../themes/default/images/box-core-news.png");
}

#sbox_Panier
{
	background-image: url("../themes/default/images/box-core-caddie.png");
}


#sbox_alerts div.body
{
	background-image: url("../themes/default/images/box-bottom.png");
	background-repeat: no-repeat;
	background-position: bottom;  
}

#sbox_sondage div.body
{
	background-image: url("../themes/default/images/box-bottom.png");
	background-repeat: no-repeat;
	background-position: bottom;  
}

#sbox_connexion div.body
{
	background-image: url("../themes/default/images/box-bottom.png");
	background-repeat: no-repeat;
	background-position: bottom;  
}


div.calendarhead
{
  border: none;
  background: none;
}

div.calendar
{
  border: none;
  background: #ffffff;
}

div.article
{
  border: 1px solid #c0c0c0;
}

#sbox_alerts
{
  position: relative;
  margin-bottom: 1em;
  padding-top:0.75em;
  width: 192px;
  background: url("../themes/default/images/redbox-core-alert.png");
}

#sbox_alerts h1
{
  background: none;
  border: none;
  -moz-border-radius:0em 0em 0em 0em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 2px;
  height: 1.2em;
  font-size: 100%;
  display: inline;
  position:relative;

}

#sbox_alerts div.body
{
	background: none;
	border: none;
	-moz-border-radius:0em 0em 0em 0em;
	padding: 8px;
	position:relative;	
	background-image: url("../themes/default/images/redbox-bottom.png");
	background-repeat: no-repeat;
	background-position: bottom;  

} 

#sbox_alerts ul
{
	list-style-image: url("../themes/default/images/list-arrow-red.png"); 
	margin-bottom:0;
}

li.ok
{
	list-style-image: url("../themes/default/images/list-arrow_ok.png"); 
	margin-bottom:0;
}

li.ko
{
	list-style-image: url("../themes/default/images/list-arrow_ko.png"); 
	margin-bottom:0;
}

li.info
{
	list-style-image: url("../themes/default/images/list-arrow_info.png"); 
	margin-bottom:0;
}

div.article div.tabs
{
	padding: 0;
	margin: 0;
	border: 0;

	height:21px;
	padding-left:2em;
	overflow:hidden;
	background:url("../themes/default/images/core-tabs-fond.png");
	margin-bottom:0.5em;
}

div.article div.tabs span 
{
	float:left;
	background:url("../themes/default/images/core-tabs-norm-st.png");
	height:21px;
	font-size: 12px;
	padding-left:8px;
	margin:0;
	border:0;	
	color:black;
}

div.article div.tabs span a
{
	padding: 0;
	margin: 0;
	border: 0;
  	-moz-border-radius: 0;
  	
	float:left;
	
	background:url("../themes/default/images/core-tabs-norm.png");
	height:21px;
	padding-right:18px;
	padding-left:5px;
	background-repeat: no-repeat;
	background-position: right top;
	vertical-align:bottom;
	line-height:25px;
	text-decoration: none;
}

div.article div.tabs span a:hover
{
	background:url("../themes/default/images/core-tabs-norm.png");
	background-repeat: no-repeat;
	background-position: right top;	
}

div.article div.tabs span:hover
{
	background:url("../themes/default/images/core-tabs-cur-st.png");
}

div.article div.tabs span:hover a
{
	background:url("../themes/default/images/core-tabs-cur.png");
	background-repeat: no-repeat;
	background-position: right top;
}


div.article div.tabs span.selected
{
	background:url("../themes/default/images/core-tabs-cur-st.png");
}

div.article div.tabs span.selected a
{
	background:url("../themes/default/images/core-tabs-cur.png");
	background-repeat: no-repeat;
	background-position: right top;
}

