div.uvcomment
{
  padding: 10px;
  border: 1px solid #d8e7f3;
}

div.uvcomment.pair
{
  background:#eff7ff;
}

span.uvcriteria
{
  width: 100%;
  margin-bottom: 20px;

}

span.uvcauthor
{
  float: left;
  margin-lef: 10px;
}
span.uvcdate
{
  margin-right: 10px;
  float: right;
}


div.uvccontent
{
   border-top: 90% #d8e7f3 solid;
   border-bottom: 90% #d8e7f3 solid;
}