div.uvcomment
{
  padding: 10px;
  border: 1px solid #d8e7f3;
  margin: 10px;
}

div.uvcomment.pair
{
  background:#eff7ff;
}

span.uvcriteria
{
  width: 100%;
  margin-bottom: 10px;

}

span.uvcauthor
{
  text-align: right;
  display: block;
  float: right;
  top : 0;
}
span.uvcdate
{
  border-bottom: 1px black solid;
  display: block;
}

span.uvcnote
{
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

div.uvccontent
{
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 40px;
   border-top: 1px black solid;
 }