div.uvcomment
{
  padding: 30px;
  border: 1px solid #d8e7f3;
}

div.uvcomment.pair
{
  background:#eff7ff;
}

span.uvcriteria
{
  width: 100%;
}

span.uvcauthor
{
  width: 100%;
}
span.uvcdate
{
  width: 20%;
  float: right;
}

div.uvcontent
{
   border-top: 90% #d8e7f3 solid;
   border-bottom: 90% #d8e7f3 solid;
}