#logo
{
  height:90px;
  background: url("../images/top-bg.png");
}

#logo a img
{
  display: none;
}

#logo a
{
  width:937px;
  height:90px;
  display: block;
  background: url("../images/top-logo.png");
}

#fsearchbox
{
  top: 91px;
}
