
div.pgcatlist
{
  
}

div.pgcatlist ul
{
  margin-top:0;
  margin-bottom:0;
  list-style:none;
}

div.pgcatlist ul a
{
  color:black;
}


div.pgcatlist
{
  
}

div.pgcatlist h3
{
  border-bottom:1px solid white;
}

div.pgcatlist h3 a
{
  color:black;
}

div.pgcatlist div
{

}

div.pgcatlist div a
{
  color:black;
}


div.article div.tabs.pgtabs
{
  /*background:#EEAC00;*/
  background:#EEAC00;
  height:20px;
  overflow:visible;
  padding-left:15px;
  margin-bottom:20px;
}

div.article div.tabs.pgtabs span
{
  float:left;
  color:#ffffff;
  font-size:12px;
  border-left:1px solid #ffffff;
  border-right:1px solid #ffffff;
  margin-right:-1px;
  height:20px;
  background:#ffffff;
}

div.article div.tabs.pgtabs span a
{
  border:0;
  margin:0;
  padding-top:4px;
  padding-bottom:4px;
  padding-left:8px; 
  padding-right:8px;
}

div.article div.tabs.pgtabs span.selected a, div.article div.tabs.pgtabs span a:hover
{
  padding-top:10px;
  padding-bottom:10px;
  border:0;
  color:#ffffff;
}
