
div.pgcatlist
{
  /*border:1px solid black; */ 
  padding-bottom:1px;
}

div.pgcatlist h2
{
  margin:0;
  border:0;
  padding:5px;
}

div.pgcatlist h2 a 
{
  color:black;
}

div.pgcatlist ul
{
  margin-top:0;
  margin-bottom:0;
  list-style:none;
}
div.pgcatlist ul a
{
  color:black;
}

div.pgcatlist div
{
  background:white;
  margin:5px;
  padding:5px;
  margin-top:0;
}


div.article div.tabs
{
  /*background:#EEAC00;*/
  background:#EEAC00;
  height:20px;
  overflow:hidden;
  padding-left:15px;
  margin-bottom:7px;
}

div.article div.tabs span
{
  float:left;
  color:#ffffff;
  font-size:12px;
  border-left:1px solid #ffffff;
  border-right:1px solid #ffffff;
  margin-right:-1px;
  padding-top:4px;
  padding-bottom:4px;
  padding-left:8px; 
  padding-right:8px;
  height:20px;
}

div.article div.tabs span a
{
  float:none;
  color:#ffffff;
  border:0;
  margin:0;
  padding:0;
}


div.article div.tabs.pgtabs span.selected, div.article div.tabs.pgtabs span
{
  background:#ffffff;
  color:#000000;
  
  border-left:1px solid #ffffff;
  border-right:1px solid #ffffff;
}

div.article div.tabs.pgtabs span.selected a, div.article div.tabs.pgtabs span a:hover
{
  background:#ffffff;
  color:#000000;
  text-decoration:none;
}
