.call
{
	cursor:pointer; 
}

.close
{
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}

.tinycalendar_box
{
	position: absolute;
	background: url(../themes/default/images/box-top-small.png) no-repeat;
	border: none;
	display: none;
}
.tinycalendar_endbox
{
	width: 150px;
	height: 10px;
	background: url(../themes/default/images/box-bottom-small.png) no-repeat;
}

td.tinycal_day
{
	cursor: pointer;
}

td.tinycal_day:hover
{
	background: #eeeeee;
}

