@import url("/themes/default/css/site.css");

body
{
  background:black;
  text-align:center;

}

div.contents
{
  border:0;
  background:white;
  width:915px;
  margin:0;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  margin-bottom:20px;
  text-align:left;
  overflow:hidden;
}

div#logo
{
  background:#000000;
  width:915px;
  height:98px;
  padding:0;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  position:relative;
}

div#logo a
{
  position:absolute;
  font-size:40px;
  color:#FFFFFF;
  top:30px;
  left:20px;
    text-transform: lowercase;
  background:none;
  width:auto;
  height:auto;
}


div#logo a:hover
{
  text-decoration:none;
}
div.tabsv2
{
  background:#C0C0C0;
  width:915px;
  height:44px;
  padding:0;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  border:0;
}

div.tabsv2 span
{
  float:left;
  background:none;
  margin-top:8px;
  margin-left:10px;
  height:26px;
	padding-left:0px;

}


div.tabsv2 span a
{
  float:none;
  background:none;
  color:black;
  font-size:14px;
	padding-right:10px;
	padding-left:10px;
  height:26px;
	line-height:26px;
	border:0;
	margin:0;
}




div.tabsv2 span.selected
{
  background:white;

}

div.tabsv2 span.selected a
{
  background:white;
  color:black;
  border:0;
}

div.tabsv2 span:hover
{
  background:white;
}

div.tabsv2 span:hover a
{
  background:white;
  color:black;
  border:0;
}


div.emptysectionlinks
{
  padding:0;
}

#left
{
  width:195px;
  float:left;
  position:relative;
  top:0;
  left:10px;
}

#right
{
  width:202px;
  float:right;
  position:relative;
  top:0px;
  right:5px;
  margin-top:5px;
}

div.article
{
  border:0;
  margin-top:1em;
  padding:0;
}

div.article h1
{
  margin-top: 0;
  margin-bottom: 1em;
  padding-bottom: 0.3em;
  font-size: 150%;
  border-bottom: 1px black solid;
}

div.article h2
{
  font-size: 130%;
  padding-bottom: 0.2em;
  border-bottom: 1px #c0c0c0 solid;
  margin-bottom: 1em;
  margin-top: 2em;
}

div.article h3
{
  font-size: 110%;
  border-bottom: 1px #c0c0c0 solid;
  margin-bottom: 1em;
  margin-top: 2em;
}

div.article p
{
  text-align: justify;
  margin: 0;
  padding: 0;

  margin-bottom: 1em;
  margin-top: 1em;
}


div.article.anews h1
{
  font-size: 130%;
  padding-bottom: 0.2em;
  border-bottom: 1px #c0c0c0 solid;
  margin-bottom: 1em;
  margin-top: 2em;
  clear:both;
}

p.footer
{
  margin-top:2em;
  padding-bottom:2em;
  font-size:10px;
  color:#c0c0c0;
  text-align:center;
  clear:both;
}

p.footer a
{
  font-size:10px;
  color:#c0c0c0;
}

div.page
{
  margin: 0;
  width:880px;
  float:left;
  position:relative;
  left:25px;
}

div.page#n
{
  margin: 0;
}

div.page#lr
{
  margin: 0;
  width:675px;
  float:left;
}

div.page#r
{
  margin: 0;
  width:675px;
  float:left;
}

div.page#l
{
  margin: 0;
  width:470px;
  float:left;
}

#sasimg
{
  width:600px;
}

#sasimg img
{
  width:600px;
}

#photoinfo
{
  width:250px;
}

/**
 * Gestion css blog
 */
div.blogcts, div.blogcomments
{
  background-color:#fefaf5;
}
ul.blogcatlist
{
  margin: 0px auto;
  padding: 0 30;
  height:35px;
  width:90%;
  background-color:#000000;
}
ul.blogcatlist li
{
  display: block;
  margin: 5px 1em 5px 0;
  padding: 0px;
  float: left;
}
ul.blogcatlist li a
{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 25px;
  margin: 0 5px;
  padding: 0 20px;
  font-weight: bold;
}
li.blogcatselected, ul.blogcatlist li:hover, ul.blogcatlist li:hover a, ul.blogcatlist li.blogcatselected a
{
  background-color:#333333;
  color:#ffffff;
}
li.blogcatlist0
{
}
li.blogcatlist1
{
}
div.blog
{
  display: block;
  width:90%;
  margin:auto;
  padding: 10px 30px;
  background-color: #F7F1E8;
  margin-bottom: 10px;
  position: relative;
  font-size:14px;
}
div.blogcts div.toolbox
{
  z-index: 60;
  margin-right:20px;
}
div.blogcts div.toolbox a
{
  color:#000000;
}
div.blogcomments
{
  display: block;
  width:90%;
  margin:auto;
  padding: 10px 30px;
}
div.blog h1 {
  margin-top:10px;
  padding-top:0px;
  margin:5px 0 5px 0;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 18px;
  color: #59421f;
  letter-spacing: -0.05em;
}
div.blogentryintro h1
{
  color: #59421f;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 18px;
  border:0;
}
div.blog h2, div.blog h2
{
  color: #59421f;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 18px;
  border:0;
}
div.blog h3
{
  color: #59421f;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 1em;
  font-weight: bold;
  border:0;
}
div.blog h4,div.blog h5,div.blog h6
{
  font-size: 11px;
  line-height: 1.25;
  margin-bottom: 1.25em;
  height: 1.25em;
  color: #59421f;
  border:0;
}
div.blog a
{
  font-size:14px;
}
div.blogentrypubdate, div.blogentryauthor
{
  position:absolute;
  top:50px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.1em;
}
div.blogentrypubdate
{

}
div.blogentryauthor
{

  right:30px;
}
div.blogentryintro
{
  margin-top:40px;
  font-size:14px;
}
div.blogentrycontent
{
  margin-top:10px;
}

div.blogentryreadmore
{
  margin-top:20px;
}
div.blogentryreadmore a
{
  background: #32312f;
  padding: 5px 10px 5px 10px;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #32312f;
  text-transform: uppercase;
  font-size: 9px;
  line-height: 25px;
}
div.blogentryreadmore a:hover {
  background: #CFAB76;
  border-color: #A88B60;
  text-decoration: none;
  color:#32312f;
}

div.blogprevious
{
  float:left;
}
div.blognext
{
  float:right;
}
div.blognavbottom
{
  margin-top:30px;
}
div.blognavtop
{
  margin-top:40px;
}
div.blogcomments
{
  display: block;
  width: 524px;
}
div.blogcomment0
{
}
div.blogcomment1
{
}
