/* Copyright 2011
 * - Antoine Tenart < antoine dot tenart at gmail dot com >
 *
 * Ce fichier fait partie du site de l'Association des étudiants de
 * l'UTBM, http://ae.utbm.fr.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA
 * 02111-1307, USA.
 */

/**
 * CSS for the mobile version
 *
 * Should not include images !! Mobile version should be light.
 */


/**
 * General stuff
 */

* {
  font-size: 1.1em;
  line-height:100%;
  font-family: arial, sans-serif;
}

body {
  background: #CCCCCC;
  margin: 0;
  padding: 0;
}

html,body {
  height: 100%;
  width: 100%;
}

div#site {
  text-align:center;
  position: relative;
}

/**
 * Header
 */

div#header {
  z-index: 90;
  height: 8em;
}

div#logo img {
  height: 5em;
  position: absolute;
  margin-top: 1em;
}

/**
 * General
 */

h1 {
  font-size: 150%; 
  background-color: #749;
  color: white;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: #006;
}

a:hover {
  text-decoration: underline;
}

img {
  border: 0;
}

form {
  margin: 0;
  padding: 0;
}

input {
  border: 1px #364970 solid;
  background: white;
  padding: 1px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 3px;
}

input.radiobox {
  border: 0;
  background: none;
  padding: 1px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 3px;
}

input.chkbox {
  border: 0;
  background: none;
  padding: 1px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 3px;
}

textarea {
  border: 1px #364970 solid;
  background: white;
  padding: 1px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 3px;
}

input.connect {
  width: 95%;
}

p.error {
  color: red;
  font-weight: bold;
}

div.contents {
  position:relative;
  display:block;
  z-index: 80;
}

/**
 * Article
 */
div.article {
  background-color: white;
  text-align: justify;
  padding-bottom: 2em;
  width: inherit;
}

div.article h1 {
  background-color: #F80;
  color: white;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

div.article .mob_title {
  background-color: #749;
  font-size: 170%;
  margin: 0;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin-bottom: -100%;  /* FIXME */
}

/**
 * News
 */

div.newssoon h3 {
  border-bottom: 1px solid #808080;
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: 1em;
  font-size:110%;
  color: #336699;
}

div.newssoon ul {
  list-style: none;
  margin-right: 1em;
  list-style-image: none;
}

li.nvlitm {
  padding: 0.5em;
  position: relative;
}

li.nvlitm .nvltitre {
  font-size: 120%;
  color: #000;
  font-weight: bold;
}

li.nvlitm .hour {
  font-size: 80%;
  margin-left: 0.25em;
  color: #808080;
}

li.nvlitm .nvlresume {
  color: #404040;
}

div.newssoon li.nvl1 {
  background-color: #ffe7ab;
}

div.newssoon strong {
  font-size: 90%;
  font-weight: bold;
}

li.nv0 img.nvlicon {
  position:relative;
  float:left;
  width:2em;
  height:2em;
  margin-right:1em;
  background:#fff;
}

li.nvl1 img.nvlicon
{
    position:relative;
    float:right;
    width:2em;
    height:2em;
    margin-right:0;
    margin-left:1em;
}

/* HACK: add some padding to internal cts that display content (like full text news)
*/

#cts2 {
	padding: 0 1% 0 1%;
}

/**
 * Menu bar
 */

div#headermenu {
  position: absolute;
  overflow: visible;
  margin: auto;
  margin-top: 0;
  font-weight: bold;
  font-size: 100%;
  background-color: #555;
  width: 100%;
  height: 1.5em;
  font-color: white;
  text-transform: lowercase;
  z-index: 110;
}

div#headermenu #deco {
  float: right;
  margin-right: 0.5em;
  height: 1em;
}

div#headermenu #menu {
  text-align: center;
}

div#head_comptoirs {
  float: left;
  text-align: left;
  margin-left: 1em;
}

div#head_comptoirs .green { color: green; }
div#head_comptoirs .yellow { color: yellow; }
div#head_comptoirs .red { color: red; }

div#menuContent {
  width: 90%;
  font-size: 300%;
  background-color: #555555;
  color: white;
  float:left;
  z-index: 100;
  text-align: center;
  position: absolute;
  margin: auto;
  margin-top: 1em;  /* FIXME */
  font-weight: bold;
  display: none;
}

div#menuContent a {
  display: block;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  text-transform: lowercase;
}
