* { font-family: sans-serif; font-size: normal; }
html,body { margin: 0; padding: 0; }
body { background: white; }

img { border: none; }
tt { font-family: monospace; }

h1#logo { padding: 1.5em; padding-left: 2em; margin: 0;
          font-size: smaller; border-bottom: 5px white solid; }
h1#logo:hover { border-bottom: 5px #eee solid; }
h1#logo span { display: none; }

table#menu { background: #dee7ec; list-style: none; padding: 0; margin: 0;
             border-top: 1px #8cacbb solid;
             border-bottom: 1px #8cacbb solid; width: 100%; }
table#menu td { padding: 0.2em; margin: 0;
             letter-spacing: 1px; background: #dee7ec;
             text-transform: lowercase; text-align: center;
             width: 16%; font-size: 90%; } 
table#menu td:hover, table#menu td.active { background: white; }
table#menu td a { color: #8cacbb; display: block; text-decoration: none; }
table#menu td a:hover { background: white; text-decoration: underline; }

/* Body */
div#body { padding: 1em 30%; }
div#body h1 { font-weight: bold; border-bottom: 1px #8cacbb solid;
              padding: 0.2em; margin: 1em -20%; text-align: center;
              font-size: 120%; letter-spacing: 1px; font-variant: small-caps; }

div#body h2 { font-weight: bold; border-bottom: 1px #8cacbb solid;
              padding: 0.2em; margin: 1em 0; text-align: left;
              font-size: 100%; }

div#body p { text-align: justify; }

p#vlc { background-image: url("vlc.jpg"); background-position: left;
        background-repeat: no-repeat; padding-left: 100px; min-height: 64px; }

p#wmp { background-image: url("wmp.jpg"); background-position: left;
        background-repeat: no-repeat; padding-left: 100px; min-height: 64px; }

div#bottom { border-top: 1px #8cacbb solid; border-bottom: 1px #8cacbb solid;
             margin: 4em 0 2em 0; padding: 0.2em; background: #dee7ec;
             text-align: center; letter-spacing: 1px; font-size: 90%;
             color: #8cacbb; }

ul li { text-align: justify; margin: 0.5em 0; }
